.services {
  background-color: #f0f6f3;
  flex-direction: column;
  align-items: stretch;
  display: flex;
  overflow: hidden;
}

.pageTitle {
  color: #000;
  align-self: flex-start;
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

.img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 54px;
}
.autoLayoutHorizontal {
  color: #424242;
  flex-wrap: wrap;
  justify-content: start;
  align-self: stretch;
  align-items: center;
  min-width: 240px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  display: flex;
}
@media (width<=991px) {
  .autoLayoutHorizontal {
    max-width: 100%;
  }
}
.property1DefaultLineoff {
  white-space: nowrap;
  background-color: #fff;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
  padding: 12px 16px;
}
@media (width<=991px) {
  .property1DefaultLineoff {
    white-space: initial;
  }
}
.property1DefaultLineoff2 {
  background-color: #fff;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
  padding: 12px 16px;
}
.property1DefaultLineoff3 {
  white-space: nowrap;
  background-color: #fff;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
  padding: 12px 16px;
  box-shadow: inset 0 -3px #07ad55;
}
@media (width<=991px) {
  .property1DefaultLineoff3 {
    white-space: initial;
  }
}
.property1DefaultLineon {
  white-space: nowrap;
  background-color: #fff;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
  padding: 12px 16px;
}
@media (width<=991px) {
  .property1DefaultLineon {
    white-space: initial;
  }
}
.autoLayoutHorizontal2 {
  text-decoration-skip-ink: none;
  text-underline-offset: auto;
  text-underline-position: from-font;
  color: #3f3f3f;
  white-space: nowrap;
  background-color: #fff;
  align-self: stretch;
  gap: 4px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 12px 16px;
  font-weight: 600;
  text-decoration: underline;
}
@media (width<=991px) {
  .autoLayoutHorizontal2 {
    white-space: initial;
  }
}
.autoLayoutHorizontal3 {
  color: #616161;
  white-space: nowrap;
  background-color: #fff;
  align-self: stretch;
  gap: 4px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 12px 16px;
  font-weight: 400;
}
@media (width<=991px) {
  .autoLayoutHorizontal3 {
    white-space: initial;
  }
}
.div {
  flex-direction: column;
  align-self: center;
  align-items: stretch;
  width: 100%;
  max-width: 1180px;
  margin-top: 77px;
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  display: flex;
}
@media (width<=991px) {
  .div {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div2 {
  color: #000;
  align-self: start;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}
.div3 {
  margin-top: 40px;
}
@media (width<=991px) {
  .div3 {
    max-width: 100%;
  }
}
.autoLayoutVertical {
  background-color: #fff;
  border-radius: 24px;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  width: 100%;
  padding: 40px;
  display: flex;
  position: relative;
  box-shadow: 0 1px 20px #0000001a, 0 2px 20px 2px #0000000d;
}
@media (width<=991px) {
  .autoLayoutVertical {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.div4 {
  color: #202020;
  z-index: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}
@media (width<=991px) {
  .div4 {
    max-width: 100%;
  }
}
.div5 {
  color: #000;
  z-index: 0;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@media (width<=991px) {
  .div5 {
    max-width: 100%;
  }
}
.contentTextSizelargeTypeprimaryStatedefault {
  z-index: 0;
  color: #fff;
  background-color: #07ad55;
  border-radius: 16px;
  align-self: start;
  gap: 4px;
  min-height: 56px;
  margin-top: 20px;
  padding: 18px 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  border: none;
  cursor: pointer;
}
.img2 {
  aspect-ratio: 1.76;
  object-fit: contain;
  object-position: center;
  z-index: 0;
  border-radius: 24px;
  width: 381px;
  max-width: 100%;
  height: 216px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.autoLayoutVertical2 {
  background-color: #fff;
  border-radius: 24px;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  width: 100%;
  margin-top: 24px;
  padding: 40px;
  display: flex;
  position: relative;
  box-shadow: 0 1px 20px #0000001a, 0 2px 20px 2px #0000000d;
}
@media (width<=991px) {
  .autoLayoutVertical2 {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.div6 {
  color: #202020;
  z-index: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}
.iso37001 {
  color: #000;
  z-index: 0;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@media (width<=991px) {
  .iso37001 {
    max-width: 100%;
  }
}
.img3 {
  aspect-ratio: 1.76;
  object-fit: contain;
  object-position: center;
  z-index: 0;
  border-radius: 24px;
  width: 381px;
  max-width: 100%;
  height: 216px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.autoLayoutVertical3 {
  background-color: #fff;
  border-radius: 24px;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  width: 100%;
  margin-top: 24px;
  padding: 40px;
  display: flex;
  position: relative;
  box-shadow: 0 1px 20px #0000001a, 0 2px 20px 2px #0000000d;
}
@media (width<=991px) {
  .autoLayoutVertical3 {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.div7 {
  color: #202020;
  z-index: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
@media (width<=991px) {
  .div7 {
    max-width: 100%;
  }
}
.div8 {
  color: #000;
  z-index: 0;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@media (width<=991px) {
  .div8 {
    max-width: 100%;
  }
}
.img4 {
  aspect-ratio: 1.76;
  object-fit: contain;
  object-position: center;
  z-index: 0;
  border-radius: 24px;
  width: 381px;
  max-width: 100%;
  height: 216px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.img5 {
  aspect-ratio: 3.13;
  object-fit: contain;
  object-position: center;
  border-radius: 24px 24px 0 0;
  width: 100%;
  margin-top: 120px;
}
@media (width<=991px) {
  .img5 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.img6 {
  aspect-ratio: 6.54;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
@media (width<=991px) {
  .img6 {
    max-width: 100%;
  }
}

.header {
  border-bottom: 1px solid var(--Gray-200, #d8d8d8);
  background-color: #fff;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px 100px;
  min-height: 83px;
  padding: 0 130px;
  display: flex;
}

@media (width<=991px) {
  .header {
    max-width: 100%;
    padding: 0 20px;
  }
}

.logo {
  align-self: stretch;
  align-items: center;
  width: 203px;
  margin: auto 0;
  padding: 10px 9px 3px;
  display: flex;
  overflow: hidden;
}

@media (width<=991px) {
  .logo {
    padding-right: 20px;
  }
}

.logoImage {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 54px;
}

.navigation {
  color: #424242;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  min-width: 240px;
  margin: auto 0;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  display: flex;
}

@media (width<=991px) {
  .navigation {
    max-width: 100%;
  }
}

.navLink {
  white-space: nowrap;
  background-color: #fff;
  align-self: stretch;
  margin: auto 0;
  padding: 12px 16px;
  text-decoration: none;
  color: inherit;
}

@media (width<=991px) {
  .navLink {
    white-space: initial;
  }
}

.activeNavLink {
  background-color: #fff;
  align-self: stretch;
  margin: auto 0;
  padding: 12px 16px;
  box-shadow: inset 0 -3px #07ad55;
}

.languageLink {
  text-decoration-skip-ink: none;
  text-underline-offset: auto;
  text-underline-position: from-font;
  color: #3f3f3f;
  white-space: nowrap;
  background-color: #fff;
  align-self: stretch;
  gap: 4px;
  margin: auto 0;
  padding: 12px 16px;
  font-weight: 600;
  text-decoration: underline;
}

@media (width<=991px) {
  .languageLink {
    white-space: initial;
  }
}

.languageOption {
  color: #616161;
  white-space: nowrap;
  background-color: #fff;
  align-self: stretch;
  gap: 4px;
  margin: auto 0;
  padding: 12px 16px;
  font-weight: 400;
  text-decoration: none;
}

@media (width<=991px) {
  .languageOption {
    white-space: initial;
  }
}