.contacts {
  background-color: #f0f6f3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.contacts .div {
  background-color: #f0f6f3;
  height: 1075px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.contacts .overlap {
  height: 538px;
  left: -720px;
  position: absolute;
  top: -1px;
  width: 2161px;
}

.contacts .footer {
  height: 220px;
  left: 0;
  position: absolute;
  top: 318px;
  width: 1440px;
}

.contacts .overlap-group {
  height: 384px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2161px;
}

.contacts .overlap-2 {
  height: 318px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2161px;
}

.contacts .group {
  height: 269px;
  left: 0;
  position: absolute;
  top: 50px;
  width: 1440px;
}

.contacts .header {
  align-items: center;
  background-color: var(--white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #d8d8d8;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  height: 85px;
  justify-content: space-between;
  left: 719px;
  padding: 0px 130px;
  position: absolute;
  top: 0;
  width: 1442px;
}

.contacts .logo {
  height: 67px;
  position: relative;
  width: 203px;
}

.contacts .shield {
  height: 54px;
  left: 9px;
  position: absolute;
  top: 10px;
  width: 54px;
}

.contacts .subtract-wrapper {
  background-image: url(./image.svg);
  background-size: 100% 100%;
  height: 49px;
  left: 7px;
  position: relative;
  top: 3px;
  width: 40px;
}

.contacts .subtract {
  height: 28px;
  left: 11px;
  position: absolute;
  top: 9px;
  width: 18px;
}

.contacts .INTERO {
  height: 19px;
  left: 66px;
  position: absolute;
  top: 26px;
  width: 98px;
}

.contacts .vector {
  height: 19px;
  left: 78px;
  position: absolute;
  top: 0;
  width: 19px;
}

.contacts .img {
  height: 19px;
  left: 62px;
  position: absolute;
  top: 0;
  width: 16px;
}

.contacts .vector-2 {
  height: 19px;
  left: 45px;
  position: absolute;
  top: 0;
  width: 13px;
}

.contacts .vector-3 {
  height: 19px;
  left: 27px;
  position: absolute;
  top: 0;
  width: 16px;
}

.contacts .vector-4 {
  height: 19px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 17px;
}

.contacts .vector-5 {
  height: 19px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.contacts .auto-layout {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.contacts .tab {
  color: var(--gray-290);
  font-family: var(--body-text-inter-14-medium-font-family);
  font-size: var(--body-text-inter-14-medium-font-size);
  font-style: var(--body-text-inter-14-medium-font-style);
  font-weight: var(--body-text-inter-14-medium-font-weight);
  letter-spacing: var(--body-text-inter-14-medium-letter-spacing);
  line-height: var(--body-text-inter-14-medium-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.contacts .text-wrapper {
  color: var(--gray-290);
  font-family: var(--body-text-inter-14-medium-font-family);
  font-size: var(--body-text-inter-14-medium-font-size);
  font-style: var(--body-text-inter-14-medium-font-style);
  font-weight: var(--body-text-inter-14-medium-font-weight);
  letter-spacing: var(--body-text-inter-14-medium-letter-spacing);
  line-height: var(--body-text-inter-14-medium-line-height);
  margin-left: -33.50px;
  margin-right: -33.50px;
  margin-top: -1.00px;
  opacity: 0;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.contacts .div-wrapper {
  align-items: center;
  background-color: var(--gray-210);
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  justify-content: center;
  padding: 12px 16px;
  position: relative;
}

.contacts .text-wrapper-2 {
  color: var(--gray-280);
  font-family: var(--body-text-inter-14-regular-font-family);
  font-size: var(--body-text-inter-14-regular-font-size);
  font-style: var(--body-text-inter-14-regular-font-style);
  font-weight: var(--body-text-inter-14-regular-font-weight);
  letter-spacing: var(--body-text-inter-14-regular-letter-spacing);
  line-height: var(--body-text-inter-14-regular-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.contacts .text-wrapper-3 {
  color: var(--gray-800);
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.contacts .overlap-wrapper {
  height: 76px;
  left: 1695px;
  position: absolute;
  top: 308px;
  width: 58px;
}

.contacts .overlap-3 {
  height: 76px;
  position: relative;
}

.contacts .overlap-group-wrapper {
  height: 20px;
  left: 24px;
  position: absolute;
  top: 56px;
  width: 10px;
}

.contacts .overlap-group-2 {
  height: 20px;
  position: relative;
}

.contacts .group-2 {
  background-color: #07ad55;
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 5px;
  box-shadow: var(--shadow-8);
  height: 10px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 10px;
}

.contacts .line {
  height: 14px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 2px;
}

.contacts .shield-wrapper {
  background-color: #07ad55;
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 29px;
  box-shadow: var(--shadow-8);
  height: 58px;
  left: 0;
  position: absolute;
  top: 0;
  width: 58px;
}

.contacts .shield-2 {
  height: 46px;
  left: 4px;
  position: relative;
  top: 5px;
  width: 46px;
}

.contacts .img-wrapper {
  background-image: url(./icon-stroke.svg);
  background-size: 100% 100%;
  height: 41px;
  left: 6px;
  position: relative;
  top: 2px;
  width: 34px;
}

.contacts .subtract-2 {
  height: 24px;
  left: 9px;
  position: absolute;
  top: 8px;
  width: 16px;
}

.contacts .overlap-4 {
  height: 342px;
  left: -591px;
  position: absolute;
  top: -368px;
  width: 1178px;
}

.contacts .overlap-5 {
  height: 342px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1178px;
}

.contacts .auto-layout-vertical {
  height: 180px;
  left: 0;
  position: absolute;
  top: 66px;
  width: 619px;
}

.contacts .element {
  height: 342px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 600px;
}

.contacts .image {
  height: 25px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 177px;
}

.contacts .social {
  height: 32px;
  left: 1px;
  position: absolute;
  top: 278px;
  width: 136px;
}
