.aboutus {
  background-color: #f0f6f3;
  flex-direction: column;
  align-items: stretch;
  display: flex;
  overflow: hidden;
}

.header {
  border-bottom: 1px solid var(--Gray-200, #d8d8d8);
  background-color: #fff;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px 100px;
  min-height: 83px;
  padding: 0 130px;
  display: flex;
}

@media (width<=991px) {
  .header {
    max-width: 100%;
    padding: 0 20px;
  }
}

.logo {
  align-self: stretch;
  align-items: center;
  width: 203px;
  margin: auto 0;
  padding: 10px 9px 3px;
  display: flex;
  overflow: hidden;
}

@media (width<=991px) {
  .logo {
    padding-right: 20px;
  }
}

.logoImage {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 54px;
}

.navigation {
  color: #424242;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  min-width: 240px;
  margin: auto 0;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  display: flex;
}

@media (width<=991px) {
  .navigation {
    max-width: 100%;
  }
}

.navLink {
  white-space: nowrap;
  background-color: #fff;
  align-self: stretch;
  margin: auto 0;
  padding: 12px 16px;
  text-decoration: none;
  color: inherit;
}

@media (width<=991px) {
  .navLink {
    white-space: initial;
  }
}

.activeNavLink {
  background-color: #fff;
  align-self: stretch;
  margin: auto 0;
  padding: 12px 16px;
  box-shadow: inset 0 -3px #07ad55;
}

.languageLink {
  text-decoration-skip-ink: none;
  text-underline-offset: auto;
  text-underline-position: from-font;
  color: #3f3f3f;
  white-space: nowrap;
  background-color: #fff;
  align-self: stretch;
  gap: 4px;
  margin: auto 0;
  padding: 12px 16px;
  font-weight: 600;
  text-decoration: underline;
}

@media (width<=991px) {
  .languageLink {
    white-space: initial;
  }
}

.languageOption {
  color: #616161;
  white-space: nowrap;
  background-color: #fff;
  align-self: stretch;
  gap: 4px;
  margin: auto 0;
  padding: 12px 16px;
  font-weight: 400;
  text-decoration: none;
}

@media (width<=991px) {
  .languageOption {
    white-space: initial;
  }
}

.container {
  flex-direction: column;
  align-self: center;
  align-items: stretch;
  width: 100%;
  max-width: 1180px;
  margin-top: 77px;
  display: flex;
}

@media (width<=991px) {
  .container {
    max-width: 100%;
    margin-top: 40px;
  }
}

.pageTitle {
  color: #000;
  align-self: flex-start;
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

.companyInfoSection {
  color: #202020;
  background-color: #fff;
  border-radius: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px 84px;
  margin-top: 40px;
  padding: 40px;
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  display: flex;
}

@media (width<=991px) {
  .companyInfoSection {
    max-width: 100%;
    padding: 40px 20px;
  }
}

.companyDescription {
  width: 542px;
  min-width: 240px;
}

@media (width<=991px) {
  .companyDescription {
    max-width: 100%;
  }
}

.companyName {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

.companyText {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media (width<=991px) {
  .companyText {
    max-width: 100%;
  }
}

.companyImage {
  aspect-ratio: 1.04;
  object-fit: contain;
  object-position: center;
  border-radius: 24px;
  width: 472px;
  min-width: 240px;
}

@media (width<=991px) {
  .companyImage {
    max-width: 100%;
  }
}

.specializationsSection {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px 41px;
  margin-top: 80px;
  display: flex;
}

@media (width<=991px) {
  .specializationsSection {
    margin-top: 40px;
  }
}

.specializationsTitle {
  color: #000;
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin: 0;
  width: 39%;
}

@media (width<=991px) {
  .specializationsTitle {
    max-width: 100%;
  }
}

.specializationCards {
  width: 680px;
  min-width: 240px;
}

@media (width<=991px) {
  .specializationCards {
    max-width: 100%;
  }
}

.specializationCard {
  background-color: #fff;
  border-radius: 24px;
  padding: 20px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1), 0 2px 20px 2px rgba(0, 0, 0, 0.05);
}

@media (width<=991px) {
  .specializationCard {
    max-width: 100%;
  }
}

.specializationCardMargin {
  margin-top: 20px;
}

.iconContainer {
  background-color: #84ad97;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 36px;
  height: 36px;
  padding: 0 2px;
  display: flex;
}

.specializationIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  align-self: stretch;
  width: 32px;
  margin: auto 0;
}

.specializationTitle {
  color: #202020;
  margin-top: 16px;
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
}

@media (width<=991px) {
  .specializationTitle {
    max-width: 100%;
  }
}

.specializationDescription {
  color: #000;
  margin-top: 16px;
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
}

@media (width<=991px) {
  .specializationDescription {
    max-width: 100%;
  }
}

.bannerImage {
  aspect-ratio: 3.13;
  object-fit: contain;
  object-position: center;
  border-radius: 24px 24px 0 0;
  width: 100%;
  margin-top: 120px;
}

@media (width<=991px) {
  .bannerImage {
    max-width: 100%;
    margin-top: 40px;
  }
}

.footerImage {
  aspect-ratio: 6.54;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

@media (width<=991px) {
  .footerImage {
    max-width: 100%;
  }
}
